<div style="padding-right:15px;" class="container-fluid">

    <!-- form header -->
    <div class="row">
        <div class="col">
            <h1>Provider Service</h1>
            <hr>
        </div>
    </div>

    <!-- main form -->
    <div class="row">
        <form action="" style="width:100%;" [formGroup]="providersForm">
            <div class="col">

                <!-- Kitchen info -->
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="name">name</label>
                            <input type="text" [(ngModel)]='kitchenname' [ngClass]="{'form-control': true,
                    'is-invalid': !name.valid && name.touched,
                    'is-valid': name.valid}" formControlname="name" id="name" placeholder="Enter name">
                            <small *ngIf="name.errors?.required && name.touched" id="nameHelp"
                                class="form-text custom-invalid-feedback">Field is required</small>
                            <small *ngIf="name.errors?.minlength && name.touched" id="nameHelp"
                                class="form-text custom-invalid-feedback">name should be atleast 2 characters.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="id">Id</label>
                            <input type="text" [(ngModel)]='id_' [ngClass]="{'form-control': true,
                    'is-invalid': !id.valid && id.touched,
                    'is-valid': id.valid}" formControlname="id" id="id" placeholder="Enter id">
                            <small *ngIf="id.errors?.required && id.touched" id="idHelp"
                                class="form-text custom-invalid-feedback">Field is required</small>
                            <small *ngIf="id.errors?.minlength && id.touched" id="idHelp"
                                class="form-text custom-invalid-feedback">id should be atleast 1 characters.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="text" [ngClass]="{'form-control': true,
                    'is-invalid': !email.valid && email.touched,
                    'is-valid': email.valid}" formControlname="email" id="email" placeholder="Enter Email">
                            <small id="emailHelp" *ngIf="email.errors?.required && email.touched"
                                class="form-text custom-invalid-feedback">Field is required</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" [ngClass]="{'form-control': true,
                      'is-invalid': !password.valid && password.touched,
                      'is-valid': password.valid}" formControlname="password" id="password" placeholder="password">
                            <small id="passwordHelp" *ngIf="password.errors?.required && password.touched"
                                class="form-text custom-invalid-feedback">Field is required</small>
                            <small>Password should be 8 to 15 characters<br>least one lowercase letter<br>one uppercase
                                letter<br>one numeric digit<br>one special character</small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="passwordConfirm">passwordConfirm</label>
                        <input type="password" [ngClass]="{'form-control': true,
                  'is-invalid': !passwordConfirm.valid && passwordConfirm.touched,
                  'is-valid': passwordConfirm.valid}" formControlname="passwordConfirm" id="passwordConfirm"
                            placeholder="passwordConfirm">
                        <small id="passwordConfirmHelp"
                            *ngIf="passwordConfirm.errors?.required && passwordConfirm.touched"
                            class="form-text custom-invalid-feedback">Field is required</small>
                    </div>
                </div>
            </div>


            <!-- seperator -->
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>

            <!-- final action buttons -->
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" [disabled]="!providersForm.valid" (click)="next()"
                        class="btn btn-primary">Next</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" [disabled]="!providersForm.valid" (click)="cancel()"
                        class="btn btn-primary">cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- have to get user by id here -->
<app-register [name]=kitchenname [user]=user></app-register>