<!--<h2>Login</h2>
<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
<form *ngIf="userLoginForm" [formGroup]="userLoginForm" (ngSubmit)="onSubmit(userLoginForm)">

    <label>Username</label>
    <input class="form-control" type="text" formControlName="username" [class.is-invalid]="username.invalid && username.touched">
    <div *ngIf="username.errors && username.touched">
        <div class="alert alert-danger" *ngIf="username.errors?.required">Username is required.</div>
    </div>

    <label>Password</label>
    <input class="form-control" type="password" formControlName="password" [class.is-invalid]="password.invalid && password.touched">
    <div *ngIf="password.errors && password.touched">
        <div class="alert alert-danger" *ngIf="password.errors?.required">Password is required.</div>
    </div>
    <br>

    <button class="btn btn-primary" [disabled]="regularUserForm.invalid" type="submit">Submit</button>
</form>

<button class="btn btn-default mt-4" (click)="regularUsersList()">Back</button>-->