<!-- <div class="card" style="width: 18rem" *ngIf="kitchen"> -->
<!--   <a [routerLink]="['/detail', kitchen.id]"> -->
<!--     <img class="card-img-top" [src]="kitchen.image" alt="Card image cap" /> -->
<!--   </a> -->
<!--   <div class="card-body"> -->
<!--     <h5 class="card-title">{{ kitchen.name }}</h5> -->
<!--   </div> -->
<!-- </div> -->

<div
  [ngClass]="{
    'flip-card': parent === 'dashboard',
    'detail-card': parent === 'detail'
  }"
  *ngIf="kitchen"
>
  <a (click)="kitchenDetail(kitchen)">
    <div [class.flip-card-inner]="parent === 'dashboard'">
      <div [class.flip-card-front]="parent === 'dashboard'">
        <img
          class="card-img-top"
          style="width: 300px; height: 300px"
          [src]="kitchen.image"
        />
      </div>
      <div [class.flip-card-back]="parent === 'dashboard'">
        <h1>{{ kitchen.name }}</h1>
        <div class="days">
          <div *ngFor="let day of daysOfTheWeek">
            <span
              class="badge"
              [class.badge-success]="workingDay(day)"
              [class.badge-secondary]="!workingDay(day)"
              >{{ day[0] | uppercase }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
