<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Home</a>
      <a class="navbar-brand" routerLink="/kitchens" routerLinkActive="active"
        >Kitchens</a
      >
      <a class="navbar-brand" routerLink="/users" routerLinkActive="active">Users</a
      >
      <a class="navbar-brand" routerLink="/users/kitchens" routerLinkActive="active">Kitchen Users</a>
    </li>
    <li *ngIf="!isLoggedIn" class="nav-item">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a
        type="button"
        class="nav-link"
        (click)="collapse.toggle()"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
        Hello {{ user.first_name }}!
      </a>
    </li>
  </ul>
</nav>

<div class="dropdown" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <ul *nngIf="isLoggedIn">
    <li class="nav-item" *ngIf="user">
      <button
        type="button"
        class="btn btn-link"
        routerLink="kitchens"
        (click)="collapse.toggle()"
      >
        kitchens
      </button>
    </li>
    <li class="nav-item" *ngIf="user">
      <button type="button" class="btn btn-link" (click)="logout()">
        Logout
    </button>
    </li>
  </ul>
</div>
<!-- <a routerLink="interface">Register Kitchen</a> -->
<router-outlet></router-outlet>
